{erl_opts, [{parse_transform, lager_transform},
            {lager_truncation_size, 102400}]}.

{deps, [jsx,

        {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.9.2"}}},
        {cqerl, {git, "https://github.com/cqerl/cqerl.git", {branch, "master"}}},
        {observer_cli, {git, "https://github.com/zhongwencool/observer_cli.git", {branch, master}}}


       ]}.

{shell, [
         {apps, [kass]}
        ]}.

% {relx, [{release, {kass, "0.1.0"},
%          [kass,
%           sasl,
%           lager,
%           observer_cli,
%           cqerl
%         ]},
%
%         {mode, dev},
%
%         %% automatically picked up if the files
%         %% exist but can be set manually, which
%         %% is required if the names aren't exactly
%         %% sys.config and vm.args
%         {sys_config, "./config/sys.config"},
%         {vm_args, "./config/vm.args"}
%
%         %% the .src form of the configuration files do
%         %% not require setting RELX_REPLACE_OS_VARS
%         %% {sys_config_src, "./config/sys.config.src"},
%         %% {vm_args_src, "./config/vm.args.src"}
% ]}.
%
%% {profiles, [{prod, [{relx,
%%                      [%% prod is the default mode when prod
%%                       %% profile is used, so does not have
%%                       %% to be explicitly included like this
%%                       {mode, prod}
%
%%                       %% use minimal mode to exclude ERTS
%%                       %% {mode, minimal}
%%                      ]
%%             }]}]}.
